In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import datetime
import itertools
from collections import Counter
from itertools import chain
print(os.listdir("files"))

['data.csv']

In [2]:
data = pd.read_csv('files/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
data['answer'] = data['original_title']+' ('+data['imdb_id']+')'
data['income']=data['revenue']-data['budget']
data['month'] = pd.to_datetime(data.release_date, format='%m/%d/%Y').dt.month
data['len_title']=data.original_title.str.len()
data['count_word_title'] = data.original_title.str.split().str.len()
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,...,production_companies,release_date,vote_count,vote_average,release_year,answer,income,month,len_title,count_word_title
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,...,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,Jurassic World (tt0369610),1363528810,6,14,2
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,...,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,Mad Max: Fury Road (tt1392190),228436354,5,18,4
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,...,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,Insurgent (tt2908446),185238201,3,9,1
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,...,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,Star Wars: The Force Awakens (tt2488496),1868178225,12,28,5
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,...,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,Furious 7 (tt2820852),1316249360,4,9,2

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
ans=data.answer[data['budget']==data['budget'].max()]
ans

491    The Warrior's Way (tt1032751)
Name: answer, dtype: object

In [6]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(ans)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [7]:
ans=data.answer[data['runtime']==data['runtime'].max()]
ans

1158    Gods and Generals (tt0279111)
Name: answer, dtype: object

In [8]:
answer_ls.append(ans)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [9]:
ans=data.answer[data['runtime']==data['runtime'].min()]
ans

769    Winnie the Pooh (tt1449283)
Name: answer, dtype: object

In [10]:
answer_ls.append(ans)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [11]:
ans=round(data.runtime.mean())
ans

110

In [12]:
answer_ls.append(ans)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [13]:
ans=round(data.runtime.median())
ans

106

In [14]:
answer_ls.append(ans)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [15]:
ans=data.answer[data['income']==data['income'].max()]
ans

239    Avatar (tt0499549)
Name: answer, dtype: object

In [16]:
answer_ls.append(ans)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [17]:
ans=data.answer[data['income']==data['income'].min()]
ans

491    The Warrior's Way (tt1032751)
Name: answer, dtype: object

In [18]:
answer_ls.append(ans)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [19]:
ans=data.query('income>1').imdb_id.count()
ans

1478

In [20]:
answer_ls.append(ans)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [21]:
df=data[data['release_year']==2008]
ans=df.answer[df['income']==df['income'].max()]
ans

600    The Dark Knight (tt0468569)
Name: answer, dtype: object

In [22]:
answer_ls.append(ans)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [23]:
df=data[(data['release_year']>=2012)&(data['release_year']<=2014)]
ans=df.answer[df['income']==df['income'].min()]
ans

1246    The Lone Ranger (tt1210819)
Name: answer, dtype: object

In [24]:
answer_ls.append(ans)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [25]:
ans=pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts().idxmax()
ans

'Drama'

In [26]:
# genre=data.genres.str.split('|')
# ls=pd.DataFrame(list(chain(*genre.values.tolist())))
# ls.columns=['genres']
# ls2=ls.genres.value_counts().reset_index()
# ans=ls2['index'][ls2['genres']==ls2['genres'].max()]

In [27]:
answer_ls.append(ans)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [28]:
ans=pd.DataFrame(data[data.income>0].genres.str.split('|').tolist()).stack().value_counts().idxmax()
ans

'Drama'

In [29]:
# data2=data[data['income']>1]
# genre=data2.genres.str.split('|')
# ls=pd.DataFrame(list(chain(*genre.values.tolist())))
# ls.columns=['genres']
# ls2=ls.genres.value_counts().reset_index()
# ans=ls2['index'][ls2['genres']==ls2['genres'].max()]

In [30]:
answer_ls.append(ans)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [31]:
ls=pd.DataFrame(list(chain(*data.director.str.split('|'))))
ans=ls[0].value_counts().idxmax()
ans

'Steven Soderbergh'

In [32]:
answer_ls.append(ans)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [33]:
data2=data.query('income>1')
ans=pd.DataFrame(list(chain(*data2.director.str.split('|'))))[0].value_counts().idxmax()
ans

'Ridley Scott'

In [34]:
answer_ls.append(ans)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
df=pd.DataFrame(data['director'].str.split('|').tolist(),index=data['income']).stack().reset_index([0])
df.columns=['income','director']
df2=df.groupby('director').sum().reset_index()
ans=df2[df2.income==df2.income.max()].director
ans

727    Peter Jackson
Name: director, dtype: object

In [36]:
answer_ls.append(ans)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [37]:
df=pd.DataFrame(data.cast.str.split('|').tolist(),index=data.income).stack().reset_index([0])
df.columns=['income','cast']
df2=df.groupby('cast').sum().reset_index()
ans=df2[df2.income==df2.income.max()].cast
ans

1034    Emma Watson
Name: cast, dtype: object

In [38]:
answer_ls.append(ans)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [39]:
data2=data[data['release_year']==2012]
df=pd.DataFrame(data2.cast.str.split('|').tolist(),index=data2.income).stack().reset_index([0])
df.columns=['income','cast']
df2=df.groupby('cast').sum().reset_index()
ans=df2[df2.income==df2.income.min()].cast
ans

253    Kirsten Dunst
Name: cast, dtype: object

In [40]:
answer_ls.append(ans)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [41]:
ans=pd.DataFrame(data[data.budget>data.budget.mean()].cast.str.split('|').tolist()).stack().value_counts().idxmax()
ans

'Matt Damon'

In [42]:
answer_ls.append(ans)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [43]:
ans=pd.DataFrame(data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').tolist()).stack().value_counts().idxmax()
ans

'Action'

In [44]:
answer_ls.append(ans)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
df=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts().reset_index()
df.columns=['companies','counter']
display(df[df.companies.str.contains('Warner Bros')])
display(df[df.companies.str.contains('Universal')])

                                  companies  counter
1                              Warner Bros.      168
69                    Warner Bros. Pictures       13
216                  Warner Bros. Animation        5
813  Warner Bros. Interactive Entertainment        1

                                   companies  counter
0                         Universal Pictures      173
174                        Universal Studios        6
436                                Universal        3
725                Universal Cartoon Studios        1
820                            Universal CGI        1
897           Universal Pictures Corporation        1
1106             Universal Animation Studios        1
1179  Universal Pictures International (UPI)        1

In [46]:
df=pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts().reset_index()
df.columns=['companies','counter']
df.loc[df.companies.isin(['Universal','Universal Pictures']),'companies']='Universal Pictures (Universal)'
#df.loc[df.companies.str.contains('Warner Bros'),'companies']='Warner Bros'
ans=df.groupby('companies').sum().sort_values('counter',ascending=False).idxmax().counter
ans

'Universal Pictures (Universal)'

In [47]:
answer_ls.append(ans)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [48]:
df=pd.DataFrame(data[data.release_year==2015].production_companies.str.split('|').tolist()).stack().value_counts().reset_index()
df.columns=['companies','counter']
#df.loc[df.companies.str.contains('Universal'),'companies']='Universal Pictures (Universal)'
#df.loc[df.companies.str.contains('Warner Bros'),'companies']='Warner Bros'
#df.groupby('companies').sum().sort_values('counter',ascending=False)
ans=df.groupby('companies').sum().sort_values('counter',ascending=False).idxmax().counter
ans

'Warner Bros.'

In [49]:
answer_ls.append(ans)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [50]:
df=pd.DataFrame(data[data.genres.str.contains('Comedy')].production_companies.str.split('|').tolist(),index=data[data.genres.str.contains('Comedy')]['revenue']).stack().reset_index([0])
df.columns=['income','companies']
df.loc[df.companies.isin(['Universal','Universal Pictures']),'companies']='Universal Pictures (Universal)'
ans=df.groupby('companies').sum().sort_values('income', ascending=False).idxmax().income
ans
df[df.companies.str.contains('Warner Bros|Universal')].groupby('companies').sum().sort_values('income', ascending=False)

                                             income
companies
Universal Pictures (Universal)          12859570776
Warner Bros.                             6507322770
Warner Bros. Animation                    808037717
Warner Bros. Pictures                     177261313
Universal Studios                         142364881
Universal Cartoon Studios                  80936232
Universal Animation Studios                69834815
Universal Pictures Corporation             50877145
Warner Bros. Interactive Entertainment      3485127

In [51]:
answer_ls.append(ans)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [52]:
df=pd.DataFrame(data[data.release_year==2012].production_companies.str.split('|').tolist(),index=data[data.release_year==2012]['income']).stack().reset_index([0])
df.columns=['income','companies']
df.loc[df.companies.str.contains('Universal'),'companies']='Universal Pictures (Universal)'
ans=df.groupby('companies').sum().sort_values('income', ascending=False).idxmax().income
ans

'Columbia Pictures'

In [53]:
answer_ls.append(ans)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [54]:
ans=data[['answer','income']][data.production_companies.str.contains('Paramount Pictures')].groupby('answer').sum().idxmin().income
ans

'K-19: The Widowmaker (tt0267626)'

In [55]:
answer_ls.append(ans)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [56]:
ans=pd.pivot_table(data, values=['revenue'], index='release_year', aggfunc='sum').idxmax().revenue
ans

2015

In [57]:
answer_ls.append(ans)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [58]:
ans=pd.pivot_table(data[data.production_companies.str.contains('Warner Bros')], values=['income'], index='release_year', aggfunc='sum').idxmax().income
ans

2014

In [59]:
answer_ls.append(ans)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [60]:
ans=data.month.value_counts().idxmax()
ans

9

In [61]:
answer_ls.append(ans)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [62]:
ans=data[data.month.isin([6,7,8])].imdb_id.count()
ans

450

In [63]:
answer_ls.append(ans)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [64]:
ans=data[data.month.isin([12,1,2])].director.value_counts().idxmax()
ans

'Peter Jackson'

In [65]:
answer_ls.append(1)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [66]:
ans=pd.pivot_table(data, values='income', index='month', columns='release_year', aggfunc='sum').idxmax().value_counts().idxmax()
ans

6

In [67]:
#pd.pivot_table(data, values='income', index='month', columns='release_year', aggfunc='sum')

In [68]:
answer_ls.append(ans)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner 
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [69]:
df=pd.DataFrame(data.production_companies.str.split('|').tolist(), index=data['len_title']).stack().reset_index([0])
df.columns=['len_title','companies']
df.loc[df.companies.str.contains('Universal'),'companies']='Universal Pictures (Universal)'
ans=df.groupby('companies').mean().idxmax()['len_title']
ans

'Four By Two Productions'

In [70]:
answer_ls.append(ans)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [71]:
df=pd.DataFrame(data.production_companies.str.split('|').tolist(), index=data['count_word_title']).stack().reset_index([0])
df.columns=['words','companies']
df.loc[df.companies.str.contains('Universal'),'companies']='Universal Pictures (Universal)'
ans=df.groupby('companies').mean().idxmax()['words']
ans

'Four By Two Productions'

In [72]:
answer_ls.append(ans)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [73]:
ans=pd.DataFrame(data.original_title.str.lower().str.split().tolist()).stack().nunique()
ans

2461

In [74]:
answer_ls.append(ans)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [75]:
rating = data.vote_average.quantile(0.99)
ans=data[data.vote_average>rating].original_title.tolist()
ans={'Answer #1': ans}
ans

{'Answer #1': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento']}

In [76]:
answer_ls.append(ans)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [77]:
arr1=['Johnny Depp','Helena Bonham Carter','Hugh Jackman','Ian McKellen','Vin Diesel','Paul Walker','Adam Sandler','Kevin James','Daniel Radcliffe','Rupert Grint']
arr=list(itertools.combinations(arr1,2))
pairs={}
pairs.clear()
for cast1, cast2 in arr:
    for film in data['cast']:
        if (cast1 in film) and (cast2 in film):
            if cast1 +' & '+ cast2 in pairs:
                pairs[cast1 +' & '+ cast2]+=1
            else :
                pairs[cast1 +' & '+ cast2]=1
ans=pd.DataFrame.from_dict(pairs, orient='index').idxmax()[0]
ans

'Daniel Radcliffe & Rupert Grint'

In [78]:
answer_ls.append(ans)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [79]:
df=pd.DataFrame(data.director.str.split('|').tolist(),index=data.income).stack().reset_index([0])
df.columns=['income','director']
df['col']= np.where(df.income>1,'yes','no')
df2=pd.pivot_table(df, values='income',index='director',columns='col', aggfunc='count', fill_value=0).reset_index()
df2.loc[df2[df2.no==0].yes.idxmax()]
#df2.sort_values('yes',ascending=False).head(20)
df2['total']=df2.no+df2.yes
df2['wb']=df2.yes/df2.total
df2[df2.wb==1].sort_values('total',ascending=False).head(20)
# df2[df2.director=='Christopher Nolan']
ans=df2[df2.director.str.contains('Quentin Tarantino|Steven Soderbergh|Robert Rodriguez|Christopher Nolan|Clint Eastwood')].head(1).director
ans
df2[df2.director.str.contains('Quentin Tarantino|Steven Soderbergh|Robert Rodriguez|Christopher Nolan|Clint Eastwood')]

col           director  no  yes  total        wb
151  Christopher Nolan   0    8      8  1.000000
157     Clint Eastwood   2   10     12  0.833333
748  Quentin Tarantino   1    6      7  0.857143
791   Robert Rodriguez   3    8     11  0.727273
902  Steven Soderbergh   3   10     13  0.769231

In [80]:
answer_ls.append(ans)

# Submission

In [81]:
len(answer_ls)

36

In [82]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id                                             Answer
0    1  491    The Warrior's Way (tt1032751)
Name: ans...
1    2  1158    Gods and Generals (tt0279111)
Name: an...
2    3  769    Winnie the Pooh (tt1449283)
Name: answe...
3    4                                                110
4    5                                                106
5    6  239    Avatar (tt0499549)
Name: answer, dtype:...
6    7  491    The Warrior's Way (tt1032751)
Name: ans...
7    8                                               1478
8    9  600    The Dark Knight (tt0468569)
Name: answe...
9   10  1246    The Lone Ranger (tt1210819)
Name: answ...
10  11                                              Drama
11  12                                              Drama
12  13                                  Steven Soderbergh
13  14                                       Ridley Scott
14  15  727    Peter Jackson
Name: director, dtype: ob...
15  16      1034    Emma Watson
Name: cast, dtype: object
16  17     253    Kirsten Dunst
Name: cast, dtype: object
17  18                                         Matt Damon
18  19                                             Action
19  20                     Universal Pictures (Universal)
20  21                                       Warner Bros.
21  22                     Universal Pictures (Universal)
22  23                                  Columbia Pictures
23  24                   K-19: The Widowmaker (tt0267626)
24  25                                               2015
25  26                                               2014
26  27                                                  9
27  28                                                450
28  29                                                  1
29  30                                                  6
30  31                            Four By Two Productions
31  32                            Four By Two Productions
32  33                                               2461
33  34  {'Answer #1': ['Inside Out', 'Room', 'Interste...
34  35                    Daniel Radcliffe & Rupert Grint
35  36  151    Christopher Nolan
Name: director, dtype...