In [1]:
import pandas as pd

In [23]:
ratings = pd.read_csv('files/ratings_example.txt', sep='\t')
movies = pd.read_csv('files/movies_example.txt', sep='\t')

In [25]:
movies.describe(include='all')

          movieId                    title genres
count    3.000000                        3      3
unique        NaN                        2      2
top           NaN  Dangerous Minds (1995)   Drama
freq          NaN                        2      2
mean    31.333333                      NaN    NaN
std      0.577350                      NaN    NaN
min     31.000000                      NaN    NaN
25%     31.000000                      NaN    NaN
50%     31.000000                      NaN    NaN
75%     31.500000                      NaN    NaN
max     32.000000                      NaN    NaN

In [17]:
ratings.describe(include='all')

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [37]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

   userId  movieId  rating   timestamp                    title genres
0       1       31     2.5  1260759144  Dangerous Minds (1995)   Drama

In [36]:
movies

   movieId                                      title                   genres
0       31                    Dangerous Minds (1995)                     Drama
1       32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)  Mystery|Sci-Fi|Thriller

In [35]:
movies.drop_duplicates(subset='movieId', keep='first', inplace=True)

In [39]:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

In [41]:
items_df=pd.DataFrame(items_dict)
purchase_df=pd.DataFrame(purchase_log)

In [67]:
joined=items_df.merge(purchase_df, on='item_id', how='inner')
joined.append(['stock_av']=1)

SyntaxError: keyword can't be an expression (<ipython-input-67-3f1bdee425a1>, line 2)